html {
	margin: 0px; padding: 0px;
}
body {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
span {
	margin: 0px; padding: 0px;
}
applet {
	margin: 0px; padding: 0px;
}
object {
	margin: 0px; padding: 0px;
}
iframe {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
a {
	margin: 0px; padding: 0px;
}
abbr {
	margin: 0px; padding: 0px;
}
acronym {
	margin: 0px; padding: 0px;
}
address {
	margin: 0px; padding: 0px;
}
big {
	margin: 0px; padding: 0px;
}
cite {
	margin: 0px; padding: 0px;
}
code {
	margin: 0px; padding: 0px;
}
del {
	margin: 0px; padding: 0px;
}
dfn {
	margin: 0px; padding: 0px;
}
em {
	margin: 0px; padding: 0px;
}
font {
	margin: 0px; padding: 0px;
}
img {
	margin: 0px; padding: 0px;
}
ins {
	margin: 0px; padding: 0px;
}
kbd {
	margin: 0px; padding: 0px;
}
q {
	margin: 0px; padding: 0px;
}
s {
	margin: 0px; padding: 0px;
}
samp {
	margin: 0px; padding: 0px;
}
small {
	margin: 0px; padding: 0px;
}
strike {
	margin: 0px; padding: 0px;
}
strong {
	margin: 0px; padding: 0px;
}
sub {
	margin: 0px; padding: 0px;
}
sup {
	margin: 0px; padding: 0px;
}
tt {
	margin: 0px; padding: 0px;
}
var {
	margin: 0px; padding: 0px;
}
b {
	margin: 0px; padding: 0px;
}
i {
	margin: 0px; padding: 0px;
}
center {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
label {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
table {
	margin: 0px; padding: 0px;
}
caption {
	margin: 0px; padding: 0px;
}
tbody {
	margin: 0px; padding: 0px;
}
tfoot {
	margin: 0px; padding: 0px;
}
thead {
	margin: 0px; padding: 0px;
}
tr {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
article {
	margin: 0px; padding: 0px;
}
aside {
	margin: 0px; padding: 0px;
}
audio {
	margin: 0px; padding: 0px;
}
canvas {
	margin: 0px; padding: 0px;
}
details {
	margin: 0px; padding: 0px;
}
figcaption {
	margin: 0px; padding: 0px;
}
figure {
	margin: 0px; padding: 0px;
}
footer {
	margin: 0px; padding: 0px;
}
header {
	margin: 0px; padding: 0px;
}
hgroup {
	margin: 0px; padding: 0px;
}
mark {
	margin: 0px; padding: 0px;
}
menu {
	margin: 0px; padding: 0px;
}
meter {
	margin: 0px; padding: 0px;
}
nav {
	margin: 0px; padding: 0px;
}
output {
	margin: 0px; padding: 0px;
}
progress {
	margin: 0px; padding: 0px;
}
section {
	margin: 0px; padding: 0px;
}
summary {
	margin: 0px; padding: 0px;
}
time {
	margin: 0px; padding: 0px;
}
video {
	margin: 0px; padding: 0px;
}
fieldset {
	border: 0px currentColor; border-image: none;
}
img {
	border: 0px currentColor; border-image: none;
}
address {
	font-style: normal; font-weight: normal;
}
caption {
	font-style: normal; font-weight: normal;
}
cite {
	font-style: normal; font-weight: normal;
}
code {
	font-style: normal; font-weight: normal;
}
dfn {
	font-style: normal; font-weight: normal;
}
em {
	font-style: normal; font-weight: normal;
}
th {
	font-style: normal; font-weight: normal;
}
var {
	font-style: normal; font-weight: normal;
}
optgroup {
	font-style: normal; font-weight: normal;
}
ins {
	text-decoration: none;
}
li {
	list-style: none;
}
table {
	font-size: inherit; border-collapse: collapse; border-spacing: 0;
}
caption {
	text-align: left;
}
th {
	text-align: left;
}
h1 {
	font-size: 100%;
}
h2 {
	font-size: 100%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 100%;
}
h5 {
	font-size: 100%;
}
h6 {
	font-size: 100%;
}
q::before {
	content: "";
}
q::after {
	content: "";
}
abbr {
	border: 0px currentColor; border-image: none; font-variant: normal;
}
acronym {
	border: 0px currentColor; border-image: none; font-variant: normal;
}
legend {
	color: rgb(0, 0, 0);
}
input {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
button {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
textarea {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
select {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
optgroup {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
option {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
input {
	margin: 0px; line-height: 1.2;
}
button {
	margin: 0px; line-height: 1.2;
}
textarea {
	margin: 0px; line-height: 1.2;
}
select {
	margin: 0px; line-height: 1.2;
}
a img {
	-ms-interpolation-mode: bicubic;
}
img {
	-ms-interpolation-mode: bicubic;
}
sub {
	vertical-align: baseline;
}
sup {
	vertical-align: baseline;
}
article {
	display: block;
}
aside {
	display: block;
}
dialog {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
blockquote {
	display: block;
}
pre {
	white-space: pre-wrap; -ms-word-wrap: break-word;
}
.clearfix::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.clearfix {
	-ms-zoom: 1;
}
textarea {
	overflow: auto; resize: none;
}
input[type=text]:focus {
	outline: 0px;
}
input[type=password]:focus {
	outline: 0px;
}
textarea:focus {
	outline: 0px;
}
.nojs {
	background: rgb(254, 255, 177); padding: 4px 34px; border: 1px solid rgb(255, 229, 116); border-image: none; font-size: 14px; font-weight: bold;
}
.hack-guide {
	color: black; _color: red;
}
.hack-guide {
	color: black;
}
.ie8 .hack-guide {
	color: green;
}
.ie7 .hack-guide {
	color: blue;
}
.ie6 .hack-guide {
	color: red;
}
html {
	width: 100%; height: 100%;
}
body {
	background: rgb(255, 255, 255); font: 12px/1.5 arial, helvetica, sans-serif; width: 100%; height: 100%; text-align: center; color: rgb(51, 51, 51); overflow: auto; position: relative; font-size-adjust: none; font-stretch: normal;
}
a {
	color: rgb(44, 150, 226); text-decoration: none;
}
a:hover {
	color: rgb(44, 150, 226); text-decoration: underline;
}
a:active {
	color: rgb(44, 150, 226); text-decoration: underline;
}
a:focus {
	color: rgb(44, 150, 226); text-decoration: underline;
}
.mark {
	color: rgb(255, 0, 0);
}
.mod-warn-full {
	background: url("../images/bg_full.png") repeat-x 0px 0px; height: 200px; color: rgb(255, 255, 255);
}
.mod-warn-full .content {
	margin: auto; width: 960px; text-align: left; padding-top: 10px;
}
.mod-warn-full .hd {
	background: url("../images/bg_tit_wd.png") no-repeat 0px 0px; height: 42px; text-indent: -999em;
}
.mod-warn-full .bd {
	background: url("../images/bg_line_y.png") no-repeat 363px 0px;
}
.mod-warn-full .false {
	background: url("../images/ico_warn.png") no-repeat 0px 5px; width: 363px; margin-right: 16px; float: left;
}
.mod-warn-full .false h3 {
	padding-left: 50px; font-family: "Î¢ÈíÑÅºÚ"; font-size: 24px; font-weight: normal;
}
.mod-warn-full .false .p1 {
	color: rgb(255, 201, 191); padding-bottom: 25px; padding-left: 50px;
}
.mod-warn-full .false .lnk {
	color: rgb(254, 211, 135);
}
.mod-warn-full .false .lnk a {
	color: rgb(254, 211, 135);
}
.mod-warn-full .true {
	width: 385px; float: left;
}
.mod-warn-full .true .p2 {
	padding-top: 10px;
}
.mod-warn-full .true .p2 {
	color: rgb(254, 211, 135);
}
.mod-warn-full .true .p3 {
	color: rgb(254, 211, 135);
}
.mod-warn-full .true .p2 a {
	color: rgb(254, 211, 135);
}
.mod-warn-full .true .p3 a {
	color: rgb(254, 211, 135);
}
.mod-warn-full .true .p3 {
	text-align: right;
}
.mod-warn-full .true .p3 a {
	margin-left: 15px; vertical-align: middle; display: inline-block; -ms-zoom: 1;
}
.mod-warn-full .true .p3 a.bt-gourl {
	background: url("../images/spr_all.png") no-repeat 0px -121px; width: 91px; height: 32px; text-align: center; color: rgb(137, 52, 0); line-height: 32px; font-size: 12px; display: inline-block; -ms-zoom: 1;
}
.mod-warn-full .true .p3 a.bt-gourl {
	text-decoration: none;
}
.mod-warn-full .true .p3 a.bt-gourl:hover {
	text-decoration: none;
}
.mod-warn {
	background: rgb(255, 255, 255); margin: -155px 0px 0px -301px; left: 50%; top: 50%; width: 602px; text-align: left; position: absolute; _width: 601px;
}
.mod-warn .hd {
	background: url("../images/spr_all.png") no-repeat 0px 0px; height: 111px; overflow: hidden;
}
.mod-warn .hd h1 {
	margin: 7px 0px 0px 10px; height: 42px; color: rgb(255, 178, 178); line-height: 21px; font-size: 12px;
}
.mod-warn .hd h1 i {
	background: url("../images/logo.png") no-repeat 0px 0px; width: 16px; height: 16px; margin-top: -3px; margin-right: 5px; vertical-align: middle; display: inline-block; _display: inline; _zoom: 1;
}
.mod-warn .hd h1 b {
	color: rgb(255, 255, 255);
}
.mod-warn .hd h1.t1 {
	background: url("../images/bg_tit_wd1.png") no-repeat 0px 0px;
}
.mod-warn .hd h1.t2 {
	background: url("../images/bg_tit_wd2.png") no-repeat 0px 0px;
}
.mod-warn .hd h1.t3 {
	background: url("../images/bg_tit_wd3.png") no-repeat 0px 0px;
}
.mod-warn .hd h1.t4 {
	background: url("../images/bg_tit_wd4.png") no-repeat 0px 0px;
}
.mod-warn .hd h2 {
	background: url("http://p5.qhimg.com/d/_mobilesafe/netcore/x2.gif") no-repeat 0px 0px; top: 3px; width: 29px; height: 28px; right: 5px; display: block; position: absolute; cursor: pointer; opacity: 0.8;
}
.mod-warn .hd h3 {
	padding: 0px 0px 0px 102px; color: rgb(255, 255, 255); font-family: "Î¢ÈíÑÅºÚ", "Mircrosoft YaHei"; font-size: 24px; font-weight: normal;
}
.mod-warn .hdbpic {
	background: url("../images/sprb_all.jpg") no-repeat 0px 0px; height: 111px; overflow: hidden;
}
.mod-warn .hdssl {
	background: url("../images/sprssl_all.png") no-repeat 0px 0px; height: 111px; overflow: hidden;
}
.mod-warn .hdssl h3 {
	padding: 0px 0px 0px 87px; color: rgb(255, 255, 255); font-family: "Î¢ÈíÑÅºÚ", "Mircrosoft YaHei"; font-size: 24px; font-weight: normal;
}
.mod-warn .bd {
	border-width: 0px 1px; border-style: solid; border-color: rgb(167, 12, 0); padding: 15px 35px 0px; border-image: none; color: rgb(71, 71, 71); line-height: 1.8;
}
.mod-warn .bd .p2 {
	color: rgb(153, 153, 153); overflow: hidden; margin-top: 23px; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.mod-warn .bd .p3 {
	color: rgb(39, 140, 25);
}
.mod-warn .bd .p3 a {
	color: rgb(39, 140, 25);
}
.mod-warn .bd .p4 {
	text-align: right; padding-top: 15px;
}
.mod-warn .bd .p4 a {
	margin-left: 15px; vertical-align: middle; display: inline-block; -ms-zoom: 1;
}
.mod-warn .bt-gourl {
	background: url("../images/spr_all.png") no-repeat 0px -163px; width: 91px; height: 32px; text-align: center; color: rgb(255, 255, 255); line-height: 32px; font-size: 12px; vertical-align: middle; display: inline-block; -ms-zoom: 1;
}
.mod-warn .bt-gourl {
	text-decoration: none;
}
.mod-warn .bt-gourl:hover {
	text-decoration: none;
}
.mod-warn .ft {
	border-width: 0px 1px 1px; border-style: solid; border-color: rgb(167, 12, 0); padding: 20px 21px 11px; border-image: none;
}
.mod-warn .ft .lnk {
	color: rgb(44, 150, 226); float: left;
}
.mod-warn .ft .lnk b {
	color: rgb(0, 128, 0); font-weight: bolder;
}
.mod-warn .ft .share {
	padding-top: 2px; float: right;
}
.mod-warn .ft .share .ico {
	background: url("../images/spr_all.png") no-repeat 0px -205px; width: 16px; height: 16px; text-indent: -999em; display: block;
}
.wrap {
	background: rgb(255, 255, 255); margin: -165px 0px 0px -301px; left: 50%; top: 50%; width: 602px; position: absolute;
}
.wrap .mod-warn {
	margin: 0px; left: 0px; top: 0px;
}
.wrap .mod-warn .ft {
	height: 18px;
}
.wrap .pop-box {
	border-width: 1px 1px 1px medium; border-style: solid solid solid none; border-color: rgb(177, 179, 173) rgb(177, 179, 173) rgb(177, 179, 173) currentColor; border-image: none; top: 0px; width: 250px; right: 0px; position: absolute; min-height: 328px; _height: 329px;
}
.wrap-on {
	margin: -155px 0px 0px -440px; width: 853px;
}
.bd {
	_height: 153px;
}
.cb-box img {
	display: block;
}
.cb-box .text-center {
	text-align: center;
}
.cb-box .cb-bg-pic {
	width: 250px; height: 328px;
}
.cb-box .hover-btn {
	background: url("http://p9.qhimg.com/t01142c70b0c81c8cb2.png") no-repeat center; left: 50%; width: 134px; height: 36px; bottom: 20px; margin-left: -68px; display: block; position: absolute;
}
.cb-box .hover-btn:hover {
	background: url("http://p1.qhimg.com/t01cf1caabef4be2562.png") no-repeat center;
}
.cb-box .cb-code {
	display: none;
}
.cb-box .cb-code {
	left: 50%; bottom: 65px; margin-left: -102px; position: absolute;
}
.cb-box .close-btn {
	top: 0px; width: 30px; height: 30px; right: 0px; display: block; position: absolute; z-index: 100;
}
